*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:yellow;
}

.top{
    display:flex;
    flex-direction:row;
}

.first{
    border:2px solid green;
    
    
}

.first_one{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.first_two{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

h2{
    margin:150px;
    font-size:70px;
}

button{
font-size:50px;
margin:20px;
padding:20px 40px;
}